<!-- Ventana Modal -->
<div class="bgModal">
  <div class="modalContent" [formGroup]="formularioUpdate" (ngSubmit)="updateEmpleado()" >
    <form class="formModal">
      <label>
        <i class="fa-solid fa-user"></i> 
        Nombre(s): 
      </label>
      <input type="text" formControlName="name" placeholder="Ingrese El Nombre" required>
  
      <label>
        <i class="fa-solid fa-people-group"></i>
        Posicion: 
      </label>
      <input type="text" formControlName="position" placeholder="Ingrese la Posicion" value="items.position" required>

      <label>
        <i class="fa-regular fa-building"></i>
        Oficina:
      </label>
      <input type="text" formControlName="office" placeholder="Ingrese la Oficina" required>
  
      <label>
        <i class="fa-solid fa-money-bill-1-wave"></i>
        Salario: 
      </label>
      <input type="number" formControlName="salary" placeholder="Ingrese el Salario" required>

      <div class="divDate">
        <label>
          <i class="fa-solid fa-calendar-days"></i>
          Empleado Creado el: 22/66/2023
        </label>
  
        <label>
          <i class="fa-solid fa-clock"></i>
          Ultima vez actualizado: 22/66/2023
        </label>
      </div>

      <div>
        <button class="btnCancelar" (click)="closeModal()"> 
          Cancelar <i class="fa-solid fa-ban"></i>
        </button>

        <button class="btnEditar" type="submit"> 
          Agregar Cambios <i class="fa-solid fa-floppy-disk"></i>
        </button>

        <!-- <button class="btnEliminar" (click)="deleteEmployee(items._id)">
          ELIMINAR <i class="fa-solid fa-trash-can"></i>
        </button> -->
      </div>
    </form>
  </div>
</div>