<!-- Ventana Modal -->
<div class="bgModal animate__animated animate__fadeInDownBig">
  <div class="modalContent animate__animated animate__backInDown">
    <form class="formModal" [formGroup]="formularioUpdate" (ngSubmit)="updateEmpleado()">
      <!-- Nombre -->
      <div>
        <label>
          <i class="fa-solid fa-user"></i> 
          Nombre(s): 
        </label>

        <input
          type="text"
          formControlName="name"
          value="{{this.empleado.position}}"
          placeholder="Ingrese El Nombre"
        >
      </div>
  
      <!-- Pocision -->
      <div>
        <label>
          <i class="fa-solid fa-people-group"></i>
          Posicion:
        </label>

        <input
          type="text"
          formControlName="position"
          value="{{this.empleado.position}}"
          placeholder="Ingrese la Posicion"
        >
      </div>

      <div>
        <label>
          <i class="fa-solid fa-building"></i>
          Oficina:
        </label>

        <input
          type="text"
          formControlName="office"
          value="{{empleado.office}}"
          placeholder="Ingrese la Oficina"
        >
      </div>
  
      <div>
        <label>
          <i class="fa-solid fa-money-bill-1-wave"></i>
          Salario: 
        </label>
        <input
          type="number"
          formControlName="salary"
          value="{{empleado.salary}}"
          placeholder="Ingrese el Salario"
        >
      </div>

      <div class="divDate">
        <label>
          <i class="fa-solid fa-calendar-days"></i>
          <strong> Empleado Creado el: </strong> <br> {{empleado.createdAt}}
        </label>
        <br>
        <label>
          <i class="fa-solid fa-clock"></i>
          <strong> Ultima vez actualizado: </strong> <br> {{empleado.updatedAt}}
        </label>
      </div>

      <div class="btns">
        <button class="btnCancelar" (click)="closeModal()"> 
          Cancelar <i class="fa-solid fa-ban"></i>
        </button>

        <button class="btnEditar" type="submit"> 
          Agregar Cambios <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>

      <button class="btnEliminar" (click)="deleteEmployee(empleado._id)" >
        ELIMINAR <i class="fa-solid fa-trash-can"></i>
      </button>
    </form>
  </div>
</div>