<div class="row">

    <div class="card">
        <h1> Ingrese los datos del empleado </h1>
        <form>
            <input type="text" placeholder="Ingrese su nombre">

            <input type="text">

            <input type="text">
            <label> Ingrese el Salario: </label>
            <input type="text">
        </form>
    </div>

    <!-- <div class="container">
        <table class="blue">
            <thead>
                <tr>
                    <th> Nombre: </th>

                    <th> Posicion: </th>

                    <th> Oficina: </th>

                    <th> Operaciones </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Non</td>
                    <td>Mais</td>
                    <td>Allo !</td>
                    <td> hola</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <div class="divTabla">
        <table>
            <thead>
              <tr>
                <th> Nombre </th>
                <th> Posicion </th>
                <th> Oficina </th>
                <th> Salario </th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td><strong> Jesus Gonazalez </strong></td>
                <td> Desarrolador </td>
                <td>The speed of the show/reveal</td>
                <td> 4000 </td>
              </tr>
              <tr>
                <td><strong> Jose Sanchez </strong></td>
                <td> Q-A </td>
                <td>The easing of the show/reveal</td>
                <td> 2000 </td>
              </tr>
              <tr>
                <td><strong> Maria Perez </strong></td>
                <td> Cordinador </td>
                <td>The easing of the show/reveal</td>
                <td> 3000 </td>
              </tr>
              <tr>
                <td><strong> Jona Alexis</strong></td>
                <td> Consultor </td>
                <td>The easing of the show/reveal</td>
                <td> 8000 </td>
              </tr>
              <tr>
                <td><strong> Juan Ignacio </strong></td>
                <td> Vendedor </td>
                <td>The easing of the show/reveal</td>
                <td> 1000 </td>
              </tr>
            </tbody>
        </table>
    </div>


</div>