<div class="row">
    <div class="card">
        <div class="card-body">
            <h1> Formulario </h1>
        </div>
    </div>

    <div class="container">
        <table class="blue">
            <thead>
                <tr>
                    <th> Nombre: </th>

                    <th> Posicion: </th>

                    <th> Oficina: </th>

                    <th> Operaciones </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Non</td>
                    <td>Mais</td>
                    <td>Allo !</td>
                    <td> hola</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>